<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <featureManager>
        <feature>jsf-2.2</feature>
        <feature>ssl-1.0</feature>
        <feature>jaxb-2.2</feature>
        <feature>appSecurity-2.0</feature>
    </featureManager>
    <keyStore id="defaultKeyStore" password="dkspwd" />
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />
    <basicRegistry id="basic" realm="customRealm">
     <user name="sefa" password="sefa" />
     <group name="amadmin">
         <member name="sefa" />
     </group>
   </basicRegistry>
</server>
